*{box-sizing:border-box;}

body{
  margin: 0;
  color:#000;

}

.modal-end{
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0,0,0,0.8);
  z-index: 1;
  display: none;
}

.modal-end div{
 width: 40%;
 height: 40%;
 margin: auto;
 text-align: center;
 margin-top: 20%;
}


.modal-end div h2{
  font-size: 82px;
  color: #FFF;
}

#btn-reset{
  color:#FFF;
  display: inline-block;
  font-size: 18px;
  padding: 8px 11px;
  text-decoration: none;
  background-color: #F04500;
  margin-top:10px;

}


.inner-container{
  text-align: center;
}

#input-number{
  margin-top: 40px;
  margin-bottom: 40px;
}


th{
  text-align: center;
  background-color: #0066A2;
}

tr:nth-child(even){
  background-color: #3F9AD1;
}
