*{box-sizing:border-box;}

body{
  padding: 0px;

}

 
.inner-container{
  text-align: center;
}

#input-number{
  margin-top: 40px;
  margin-bottom: 40px;
}


th{
  text-align: center;
  background-color: #E5E5E5;
}

tr:nth-child(odd){
  background-color: #D6ECF3;
}

tr:nth-child(even){
  background-color: #ADD8E6;
}